/ - flash.each do |key, value|
/   %div.alert{:class => "alert-#{key}"}= value
.content
  %h1 Welcome to Tag-a-long
  %br
  %h2 There are #{@nearby_events.length} nearby events.
  <p id="event_preview" class=""><span id="owner" class="bold"></span> is hanging out with <span id="event_attendee_count" class="bold"></span> other people and they are <span id="event_title" class="bold"></span></p>
  / %button.btn.btn-primary Check them out!