<script type="text/x-handlebars">
  <div class="container-fluid">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="navbar-inner container">
        <a class="navbar-brand">Tag-a-long</a>
        <ul class="nav navbar-nav">
          <li>{{#link-to 'events'}}Events{{/link-to}}</li>
          <li>{{#link-to 'profile'}}Your Profile{{/link-to}}</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign Out", destroy_user_session_path, :class => "btn btn-default navbar-btn", method: "delete" %></li>
          {{!-- <li><button class="btn btn-default navbar-btn" href="/">Logout</a></li> --}}
        </ul>
      </div>
    </div>
    {{outlet}}
  </div>
</script>

<script type="text/x-handlebars" id="profile">
  <div style="width:50%;">
    <div style="display:inline-block;float:left;padding-top:">
      <img style="height:160px;width:160px;padding-top:30px"></img>
    </div>
    <div style="display:inline-block;width:450px;padding-left:10px;">
      <h3>{{name.firstName}} {{name.lastName}}</h3>
      <p><strong>Birthday: </strong>{{birthDate}}</p>
      <p style="overflow:auto">{{description}}</p>
      <button class="btn-primary">Interests</button>
      <div id="interests">
        <table>
          <tr>
            <td>
              <input type="checkbox">check 1</input>
            </td>
            <td>
              <input type="checkbox">check 2</input>
            </td>
            <td>
              <input type="checkbox">check 3</input>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox">check 1</input>
            </td>
            <td>
              <input type="checkbox">check 2</input>
            </td>
            <td>
              <input type="checkbox">check 3</input>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox">check 1</input>
            </td>
            <td>
              <input type="checkbox">check 2</input>
            </td>
            <td>
              <input type="checkbox">check 3</input>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="events">
  <div class="container-fluid">
    <div class="container-fluid">
      <ul class="list-inline">
        <li>
          {{#link-to 'find' class="btn btn-primary"}}Find Nearby Events{{/link-to}}
        </li>
        <li>
          {{#link-to 'myEvents' class="btn btn-primary"}}My Events{{/link-to}}
        </li>
      </ul>
    {{outlet}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="find">
  <div class="span3">
    <table class="table">
      <thead>
        <tr><th>Nearby Events</th></tr>
      </thead>
      {{#each model}}
        {{#each item}}
          {{log title}}
          {{partial 'event-list'}}
        {{/each}}
      {{/each}}
    </table>
  </div>
</script>

<script type="text/x-handlebars" id="_event-list">
  <tr><td>
    <div class="event{{unbound id}}">
      <h5>{{#link-to 'myEvent' this}}{{title}}{{/link-to}}</h5>
      <p>hosted by <strong>{{author.name}}</strong><p>
    </div>
  </td></tr>
</script>


<script type="text/x-handlebars" id="pending">
  <div class="span3">
    <table class="table">
      <thead>
        <tr><th>Pending Events</th></tr>
      </thead>
      {{#each model}}
        {{log this}}
        {{partial 'event-list'}}
      {{/each}}
    </table>
  </div>
</script>

<script type="text/x-handlebars" id="myEvents">
  <div class="span3">
    <table class="table">
      <thead>
        <tr><th>My Events</th></tr>
      </thead>
      {{#each model}}
        {{partial 'event-list'}}
      {{/each}}
    </table>
  </div>
</script>




<script type="text/x-handlebars" id="events/find/index">
  <p class="text-warning">Find nearby events</p>
</script>

<script type="text/x-handlebars" id="post">
  {{#if isEditing}}
    {{partial 'post/edit'}}
    <button {{action 'doneEditing'}}>Done</button>
  {{else}}
    <button {{action 'edit'}}>Edit</button>
  {{/if}}

  <h1>{{title}}</h1>
  <h2>by {{author.name}} <small class='muted'>({{format-date date}})</small></h2>

  <hr>

  <div class='intro'>
    {{format-markdown excerpt}}
  </div>

  <div class='below-the-fold'>
    {{format-markdown body}}
  </div>
</script>

<script type="text/x-handlebars" id="post/_edit">
  <p>{{input type="text" value=title}}</p>
  <p>{{input type="text" value=excerpt}}</p>
  <p>{{textarea value=body}}</p>
</script>

<script type="text/x-handlebars" id="about">
  <div class='about'>
    <p>Yehuda Katz is a member of the <a href="http://emberjs.com">Ember.js</a>, <a href="http://rubyonrails.org">Ruby on Rails</a>
    and <a href="http://www.jquery.com">jQuery</a> Core Teams; he spends his daytime hours at the startup he founded,
    <a href="http://www.tilde.io">Tilde Inc.</a>.</p>
    <p>Yehuda is co-author of best-selling <a href="http://affiliate.manning.com/idevaffiliate.php?id=485_176">jQuery in Action</a> and
    <a href="http://affiliate.manning.com/idevaffiliate.php?id=485_145">Rails 3 in Action</a>.</p>
    <p>He spends most of his time hacking on open source—his main projects, along with others, like <a href="https://github.com/wycats/thor">Thor</a>,
    <a href="http://www.handlebarsjs.com">Handlebars</a> and <a href="https://github.com/carlhuda/janus">Janus</a>—or traveling the world doing evangelism work.</p>
    <p>He can be found on Twitter as <a href="http://www.twitter.com/wycats">@wycats</a>.</p>
  </div>

  <div class='about'>
    <p>My name is Tom Dale. I helped create <a href="http://www.emberjs.com/">Ember.js</a>, a JavaScript framework that brings sanity to the web.</p>

    <p>In October of 2011, I co-founded <a href="http://www.tilde.io">Tilde</a> with Yehuda Katz, Leah Silber and Carl Lerche.</p>

    <p>In my spare time I run a cash-for-beer exchange program at many local San Francisco dive bars.</p>
  </div>
</script>